<!doctype html>
<html>
    <head>
        <title>Shoutout | MIT</title>


        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <a href="{{ url_for('index') }}"><h1>Shoutout</h1></a>
                </div>
                <div class="span1 offset8 herp">
                    <a class='submit' href="{{ url_for('submit') }}">Submit</a>
                </div>
            </div>
            <hr class="hro">
            <div class="row">
            {% for message in get_flashed_messages() %}
                <div class="flash span12">{{ message }}</div>
            {% endfor %}
            </div>
            {% block body %}{%endblock %}
            <hr>
            <div class="row">
                <div class="span4 offset4">
                    <ul class="foot">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('submit') }}">Submit</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
