{% extends "layout.html" %}
{% block body %}

    {% macro render_pagination(pagination) %}
      <div class=pagination>
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
        <a href="{{ url_for_other_page(pagination.page + 1)
          }}">Next &raquo;</a>
      {% endif %}
      </div>
    {% endmacro %}


    <div class="row main">
        <div class="span12">
            <ul class=entries>
            {% if session.mod_id %}
                {% for entry in entries %}
                <li class="mb">
                    <div class="upvote {{ entry.entry_id }} {{ entry.locked }}">{{ entry.score }}</div>
                    <div class="entry">
                        <h2>{{ entry.title }}</h2>
                        {{ entry.content }}
                    </div>
                    <div class="delete {{ entry.entry_id }}"></div>
                {% else %}
                <li><em>Unbelievable. No entries here so far</em>
                {% endfor %}
            {% else %}
                {% for entry in entries %}
                <li class="mb">
                    <div class="upvote {{ entry.entry_id }} {{ entry.locked }}">{{ entry.score }}</div>
                    <div class="entry">
                        <h2>{{ entry.title }}</h2>
                        {{ entry.content }}
                    </div>
                {% else %}
                <li><em>Unbelievable. No entries here so far</em>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            {{ render_pagination(pagination) }}
        </div>
    </div>


{% endblock %}
